@import url('https://fonts.googleapis.com/css?family=Coiny');

body{
  background: linear-gradient(to right, rgb(158, 0, 0), rgb(255, 0, 0));
  height: 100vh;
}

.home {
  display: flex;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  h1 {
    align-self: center;
  }

}

.contact-form {
  width: 65%;

  textarea {
    resize: none;
  }

  &__button {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 30px;
  }
}

// header
.site-header {
  min-height: 90px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__logo {
    position: absolute;
    bottom: -80px;
    height: auto;

    img {
      transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
    }

  }

  &__menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      margin: 0 5px;
      text-decoration: none;
      text-align: center;
      color: inherit;
      font-size: 1em;
      padding: 12px;
      font-weight: bold;
      transition: .4s ease;
      border: 3px solid transparent;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      &:hover {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        text-decoration: none;
        border: 3px solid black;
        color: inherit;
      }
    }

    &__search {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;

      svg {
        width: 30px;
        height: 30px;
        fill: black;
      }
    }
  }
}

.col-sm {
  text-align: center;
}

.story {
  border-radius: 5px;
  text-align: center;
  margin-top: 35px;
  border: 10px solid black;
  background-color: white;
  &__img {
    margin-top: 15px;
    border-radius: 50%;
    width: 140px;
    border: 3px solid black;
  }
  &__title {
    padding-top: 15px;
  }
  &__explanation {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
  }
  &__social-media {
    margin-left: 5px;
    padding: 10px;
    display: flex;
    justify-content: start;
    img:first-child {
      border: 0.5px solid black;
      border-radius: 10%;
    }
    img {
      margin-left: 5px;
    }
  }
}

.home-tiles{
  border: 10px solid black;
  border-radius: 5px;
  margin-top: 35px;
  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
    h1{
      position: absolute;
      z-index: 10;
      margin-left: 15px;
      margin-top: 5px;
      color: white;
      text-shadow: 0 0 3px black;
    }
    .col-sm{
      display: flex;
      justify-content: start;
      align-items: center;
      overflow: hidden;
      height: 100%;
      img{
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        filter: brightness(50%);
        transition: filter 0.5s;
        &:hover{
          filter: brightness(100%);
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;

  .footer-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      height: 32px;
      padding: 0px 15px;
    }
  }
  .site-footer {
    min-height: 90px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__menu {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;

      &__item {
        margin: 0 5px;
        text-decoration: none;
        text-align: center;
        color: inherit;
        font-size: 1em;
        padding: 12px;
        font-weight: bold;
        transition: .4s ease;
        border: 3px solid transparent;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
      }
    }
  }
}